.sect1{
    height: 50vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h6{
        font-family: "Kumbh Sans", sans-serif;
    }
    div{
        height: 22%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            width: 55%;
            color: #98989A;
            font-size: 1.1rem;
        }
    }
}
.sect2{
    height: 28vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #262626 1px solid;
    border-bottom: #262626 1px solid;
    .size{
        height: 100%;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            height: 100%;
            width: 25%;
            border-left: #262626 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            h3{font-size: 3.7rem;}
            p{
                font-size: 1.1rem;
                color: #98989A;
            }
        }
        div:last-child{border-right: #262626 1px solid;}
    }
}
.sect3{
    width: 100%;
    height: 197vh;
    border-bottom: #262626 1px solid;
    .lightv3{
        height: 37vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1A1A1A;
        .size{
            height: 40%;
            width: 85%;
            display: flex;
            justify-content: space-between;
            .left{
                button{
                    height: 30%;
                    width: 23%;
                    font-size: 1.1rem;
                    border: none;
                    color: #ffffff;
                    background-color: #333333;
                }
            }
            .right{
                height: 59%;
                width: 34%;
                display: flex;
                justify-content: space-between;
                button{
                    height: 100%;
                    width: 32%;
                    border: #262626 1px solid;
                    border-radius: 0.5rem;
                    color: #98989A;
                }
                button:hover{
                    color: #ffffff;
                    background-color: #262626;
                }
            }
        }
        button{
            height: 18%;
            width: 10%;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            background-color: #141414;
            color: #98989A;
            border: 1px solid #262626;
            span{
                color: #FFD11A;
            }
        }
    }
    .container{
        height: 40.6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            height: 100%;
            width: 39%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-top: #262626 1px solid;
            .info{
                height: 43%;
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                .raiting{
                    height: 50%;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{color: #98989A;}
                }
            }
        }
        .right{
            height: 100%;
            width: 61%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-top: #262626 1px solid;
            border-left: #262626 1px solid;
            .grey{color: #98989A;}
            .video{
                width: 80%;
                height: 51%;
                border-radius: 0.5rem;
            }
            .text{
                height: 10%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p{color: #98989A;}
            }
            .blocks{
                height: 15%;
                width: 80%;
                display: flex;
                justify-content: space-between;
                
                div{
                    height: 100%;
                    width: 32%;
                    background-color: #1A1A1A;
                    border: #262626 1px solid;
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    border-radius: 0.5rem;
                    p{width: 85%;}
                    .grey{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
.sect4{
    height: 67vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #262626 1px solid;
    border-bottom: #262626 1px solid;
    .size{
        width: 85%;
        height: 100%;
        display: flex;
        .block{
            width: 32%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            .bg{
                width: 91%;
                height: 46%;
                border-radius: 0.5rem;
            }
            h2{
                width: 91%;
                font-size: 1.9rem;
            }
            .grey{
                width: 91%;
                color: #98989A; 
                font-size: 1.1rem;
            }
            .buttons{
                height: 10%;
                width: 91%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    height: 100%;
                    width: 48%;
                    border: #262626 1px solid;
                    border-radius: 0.5rem;
                    color: #98989A;
                    font-size: 1.1rem;
                }
                button:first-child{
                    background-color: #141414;
                }
                button:last-child{
                    background-color: #1A1A1A;
                }
            }
        }
        .block:nth-child(2){
            border-left: #262626 1px solid;
            border-right: #262626 1px solid;
        }
    }
}